"""
These are for the "ledgershell" commands that use the ledger client.
The scheduler, reconciler, and sort comands take all their input from
command line arguments. EXCEPT, reconciler does want to use
RECONCILER_CACHE_FILE now, and the --reconciled-status feature needs
to use other things in here as well. This file needs to be present as
settings.py for tests to run, although its contents are mocked.
"""
import os


class Settings:

    # This is where your ledger files live
    LEDGER_DIR = os.path.join(os.path.expanduser('~'), 'some', 'place')

    LEDGER_FILES = [
        'accounts.ldg',
        'payees.ldg',
        'misc.ldg',
        'investments.ledger',
        'journal.ledger',
    ]
    PRICES_FILE = os.path.join(LEDGER_DIR, 'prices.db.ldg')
    PORTFOLIO_FILE = os.path.join(LEDGER_DIR, 'portfolio.json')
    RECONCILER_CACHE_FILE = os.path.join(LEDGER_DIR, '.reconciler_cache')

    LEDGER_COMMAND = (
        'ledger',
        '--strict',
        '--check-payees',
        '--pedantic',
        '--explicit',
        '--columns',
        '120',
        '--market',
        '--price-db',
        PRICES_FILE,
    )

    DATE_FORMAT = '%Y/%m/%d'

    INVESTMENT_DEFAULT_ACCOUNTS = '401k or ira or mutual'
    INVESTMENT_DEFAULT_END_DATE = 'tomorrow'

    # Accounts to use for the grid command's `--net-worth` option
    #
    # Grouping with parens allows for excluding accounts when running grid,
    # e.g. `grid --networth and not home` to exclude home value and mortgage
    # if your accounts are named appropriately for that...
    NETWORTH_ACCOUNTS = '(^assets ^liabilities)'

    # When querying ledger with accounts (say, from reconciler),
    # will expand these regex patterns (since ledger doesn't
    # appear to interpret aliases in queries)
    ACCOUNT_ALIASES = {
        r'^a:': 'assets:',
        r'^e:': 'expenses:',
        r'^i:': 'income:',
        r'^l:': 'liabilities:',
    }
