import os


class Settings(object):

    # This is where your ledger files live
    LEDGER_DIR = os.path.join(os.path.expanduser('~'), 'some', 'place')

    LEDGER_FILES = [
        'accounts.ldg',
        'payees.ldg',
        'misc.ldg',
        'investments.ledger',
        'journal.ledger',
    ]
    PRICES_FILE = os.path.join(LEDGER_DIR, 'prices.db.ldg')
    PORTFOLIO_FILE = os.path.join(LEDGER_DIR, 'portfolio.json')
    RECONCILER_CACHE_FILE = os.path.join(LEDGER_DIR, '.reconciler_cache')

    LEDGER_COMMAND = [
        'ledger',
        '--strict',
        '--check-payees',
        '--pedantic',
        '--explicit',
        '--columns',
        '120',
    ]

    INVESTMENT_DEFAULT_ACCOUNTS = '401k or ira or mutual'
    INVESTMENT_DEFAULT_END_DATE = 'tomorrow'

    # Price downloader (for mutual funds)
    SYMBOLS = [
        'fusex',    # fidelity 500 index
        'vbtlx',    # vanguard total bond index
    ]
    PRICE_FILE_FORMAT = 'P {date} {symbol:10} ${price}\n'
