import os


class Settings(object):

    # This is where your ledger files live
    LEDGER_DIR = os.path.join(os.path.expanduser('~'), 'some', 'place')

    LEDGER_FILES = [
        'accounts.ldg',
        'payees.ldg',
        'investments.ledger',
        'journal.ledger',
    ]

    PRICES_FILE = prices.db.ldg

    LEDGER_OPTIONS = '--strict --check-payees --pedantic --explicit --columns 120'
    LEDGER_COMMAND = 'ledger {}'.format(LEDGER_OPTIONS)

    INVESTMENT_DEFAULT_ACCOUNTS = '401k or mutual or ira'
    INVESTMENT_DEFAULT_DATE = 'tomorrow'

    # Price downloader
    SYMBOLS = [
        'aapl',    # apple
        'googl',   # alphabet
    ]
